.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.ImageThumb {
} 

.ImageBox {
  display: flex;
  width:40%;
  background-color: gray;
  border: 5px solid #ddd; /* Gray border */
  border-radius: 15px;  /* Rounded border */
  padding: 5px; /* Some padding */
  margin: auto; /* Set a small width */
  align-items: center;
}

.ImageBox img {
  width: 100%;
  object-fit: contain;
  text-align: center;

}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.Home {
  text-align: center;
}
