.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ImageLarge {
  border: 3px solid black;

}

.ImageThumb {
  border: 1px solid red;
}